
.centered-social-nav {
  text-align: center;
  padding: 0;
  }

.centered-social-nav li {
    display: inline; }
.centered-social-nav a {
/* (jd) uncomment for a smooth transition
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; */
    display: inline-block;
    color: #113D8B;
    text-decoration: none;
    }

.centered-social-nav a:hover {
/* (jd) uncomment to have a shadow
    text-shadow: 0 0 12px #333333; */
    color: #2F96B4;
    }

.social-badge {
  font-size: 36px;
  width: 50px;
  display: inline-block;
  }
